/.emacs.d/backup/
/.emacs.d/bookmarks
/.emacs.d/custom.el
/.emacs.d/elpa
/.emacs.d/auto-save-list/
/.emacs.d/.org-id-locations

/.emacs.d/eshell/
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/recentf
/.emacs.d/tramp
/.wmii/history.actions
/.wmii/history.progs
